<form [formGroup]="bookForm" (ngSubmit)="submitForm()">
  <div class="form-group">
    <label for="isbnInput">ISBN</label>
    <input type="text" id="isbnInput" class="form-control" formControlName="isbn">

    <div class="feedback-error" *ngIf="isInvalid('isbn')">Die ISBN ist ungültig.</div>
    <div class="feedback-error" *ngIf="hasError('isbn', 'minlength')">Die ISBN ist zu kurz.</div>
    <div class="feedback-error" *ngIf="hasError('isbn', 'maxlength')">Die ISBN ist zu lang.</div>
    <div class="feedback-error" *ngIf="hasError('isbn', 'required')">Die ISBN ist erforderlich.</div>
    <div class="feedback-error" *ngIf="hasError('isbn', 'pattern')">Die ISBN hat das falsche Format.</div>

    <pre>{{ bookForm.controls.isbn.errors | json }}</pre>
  </div>

  <div class="form-group">
    <label>Titel</label>
    <input type="text" class="form-control" formControlName="title">
  </div>

  <div class="form-group">
    <label>Beschreibung</label>
    <textarea class="form-control" formControlName="description"></textarea>
  </div>

  <div class="form-group">
    <label>Bewertung</label>
    <input type="number" class="form-control" formControlName="rating">
  </div>

  <div class="form-group">
    <label>Preis</label>
    <input type="number" class="form-control" formControlName="price">
  </div>

  <button type="submit" class="btn btn-green" [disabled]="bookForm.invalid">Abschicken</button>

</form>


<pre>{{ bookForm.value | json }}</pre>
