<div class="card mb-4" *ngIf="book">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-end" alt=""
        src="https://api.angular.schule/avatar/{{ book.rating }}">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge bg-secondary">
          <app-rating [value]="book.rating" />
        </span>
      </h2>
    </div>
    <p>{{ book.description }}</p>
    <p>Preis: {{ book.price | currency:'EUR' }}</p>

    <button type="button" class="btn btn-green" (click)="doRateUp()" [disabled]="book.rating >= 5"> + </button>
    <button type="button" class="btn btn-red" (click)="doRateDown()" [disabled]="book.rating <= 1"> – </button>
  </div>
</div>
